<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
    <script>

    </script>
  </head>
  <body>
    <header>
      <h1>
        Node JS Demo
      </h1>
      

      
      <button onclick="deleteUsers()" >Delete Users</button>
      <button onclick="getUsers()" >Get Users</button>
      <button onclick="displayUserForm()" >Create A User</button>
    </header>
    <div id="message">
    </div>
    
    <div style="text-align:center">
      Users:
    </div>
    <div id="users">
    </div>
   
    <form id="createUserForm">
      Name: <input type="text" id="username"><br>
      Age: <input type="text" id="age"><br>
      City: <input type="text" id="city"><br>
      <button  type="button" onclick="createUser()" >Create User</button>
    </form>

 

  </body>
</html>
